h2{
    font-weight:600;
    font-size:1.7rem;
    position: absolute;
    top:8rem;
    left:40%;
}

#cursor1{
    height:5px;
    width:5px;
    border:2px solid black;
    background-color: black;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
