*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height:100%;
    width: 100%;
    overflow-x: hidden;
}
.main{
    height: 100%;
    width: 100%;
    position:absolute;
}

nav{
    height:5rem;
    width:100%;
    background-color:transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:10rem;
}

.links a{
    text-decoration:none;
    color:black;
}

#cursor{
    height:5px;
    width:5px;
    border:2px solid black;
    background-color: black;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1::selection{
    background-color: orange;
}
.sec1{
    height:51vw;
    width:85%;
    top:5rem;
    position: absolute;
    left:8rem;
    scroll-behavior: smooth;
}

img{
    height:20rem;
    width: 20rem;
    max-width: 100%;
    height:auto;
    border-radius: 1rem;
    position: absolute;
    top:30%;
    left:22%;
    z-index:10;
    object-fit: cover;
    transition: all ease 1s;
}
marquee{
    position: relative;
    left:-105%;
    bottom:0;
    font-size:5rem;
    font-weight: 600;
    height:20rem
}

.p1{
    position: absolute;
    top:22rem;
    left:45rem;
    font-size:1.3rem
}

.p2{
    position: absolute;
    top:42rem;
    left:45rem;
    font-size:1.3rem
}

.p3{
    position: absolute;
    top:62rem;
    left:45rem;
    font-size:1.3rem
}
.p4{
    position: absolute;
    top:82rem;
    left:45rem;
    font-size:1.3rem
}

.sec2{
    position: absolute;
    height:51vw;
    width:100%;
    top:200%;
    left:8rem
}

.sec2{
    display: flex;
    height:20rem;
    width:75rem;

    border-radius: 3rem;
    margin-left:3rem
}

.sec2 h2{
    position:relative;
    top:5rem;
    left:37%;
    font-size:2rem;
}

.sec2 .con_links{
    display: flex;
    height:3rem;
    width:25rem;
    justify-content: space-around;
    align-items: center;
    font-size:1.3rem;
    position: relative;
    top:12rem;
    left:10rem;
}
.sec2 .con_links a{
    text-decoration:none;
    color:black;
}

.sec2 i{
    color:black;
}

.end{
    position: relative;
    top:128rem;
    left:38%;
    font-weight: 400;
    color:gray;
}

.end h4::selection{
    background-color: gold;
}
.sec1 img:hover{
    border-radius: 50%;
    
}
.dot{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: gold;
    border:2px solid black;
    position: relative;
    top:23rem;
    left:55%
}
.dot2{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: gold;
    border:2px solid black;
    position: relative;
    top:42rem;
    left:55%
}
.line{
    height:10px;
    width:10px;
    background-color: black;
    position: absolute;
    top:1rem;
    left:0%;
    border-radius: 0.25rem;
}
.line2{
    height:10px;
    width:10px;
    background-color: black;
    position: absolute;
    top:44rem;
    left:55.25%;
    opacity:0;
    border-radius: 0.25rem;
}
.dot3{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: gold;
    border:2px solid black;
    position: relative;
    top:61.2rem;
    left:55.15%
}
.line3{
    height:10px;
    width:10px;
    background-color: black;
    position: absolute;
    top:64.4rem;
    left:55.35%;
    opacity:0;
    border-radius: 0.25rem;
}
.dot4{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: gold;
    border:2px solid black;
    position: relative;
    top:79.8rem;
    left:55.15%
}
.dot5{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: orange;
    position: absolute;
    top:2.4rem;
    left:18.25%
}
.p1::selection{
    background-color: orange;
}
.p2::selection{
    background-color: orange;
}.p3::selection{
    background-color: orange;
}.p4::selection{
    background-color: orange;
}


@media (max-width:425px){
    marquee{
        left:-43rem;
        scale: 0.5;
        bottom:0;
        z-index: 100;
    }
    body{
        overflow-x:hidden;
        height:100rem;
    }
    .main{
        height:auto;
    }
    nav{
        left:0rem;
        scale:0.75;
        display: flex;
        justify-content: space-between;
        width: 30rem;
        align-items: center;
    }
    nav .links{
        margin-right:5rem;
    }
    #cursor{
        display: none;
    }
    .sec1 img{
        height:10rem;
        width:10rem;
        left:-4rem;
    }
    .p1{
        font-size:0.8rem;
        display: flex;
        width:10rem;
        left:8rem;
        margin-top:-10rem;
        top:19rem;
    }
    .p2{
        font-size:0.8rem;
        display: flex;
        width:10rem;
        left:8rem;
        margin-top:-10rem;
        top:30rem;
    }
    .p3{
        font-size:0.8rem;
        display: flex;
        width:10rem;
        left:8rem;
        margin-top:-10rem;
        top:36rem;
    }
    .p4{
        font-size:0.8rem;
        display: flex;
        width:10rem;
        left:8rem;
        margin-top:-10rem;
        top:44rem;
    }
    .sec2{
        display: flex;
        position: absolute;
        scale:0.5;
        width:40rem;
        justify-content: center;
        left:-10rem;
        top:67rem;
    } 
    .sec2 a{
        margin-left:-30rem;
    }
    .end{
        font-size:0.75rem;
        left:7rem;
        top:90rem;
    }
}
